## Decision Tree Regression
---

In [6]:
import numpy as np
import pandas as pd
from IPython.core.display import SVG
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler
from IPython.core.display_functions import display
from sklearn.metrics import mean_squared_error, mean_absolute_error

import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df_air = pd.read_csv('../data/F1_4_clean_data.csv', on_bad_lines='skip', sep=',',  na_filter=True)

df_air = df_air[['EPRTRSectorCode', 'EPRTRAnnexIMainActivityCode', 'emissions', 'Longitude', 'Latitude', 'reportingYear']]

display(df_air.head())
df_air.info()

,EPRTRSectorCode,EPRTRAnnexIMainActivityCode,emissions,Longitude,Latitude,reportingYear
0,4,4.0,3300.0,14.336056,48.290943,2007
1,9,2.0,170000.0,15.477778,47.019170,2007
2,6,3.0,228000000.0,15.691833,48.259556,2007
3,6,3.0,311000.0,15.691833,48.259556,2007
4,3,2.0,329000000.0,14.159778,47.807083,2007

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288566 entries, 0 to 288565
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   EPRTRSectorCode              288566 non-null  int64
 1   EPRTRAnnexIMainActivityCode  288566 non-null  float64
 2   emissions                    288566 non-null  float64
 3   Longitude                    288566 non-null  float64
 4   Latitude                     288566 non-null  float64
 5   reportingYear                288566 non-null  int64
dtypes: float64(4), int64(2)
memory usage: 13.2 MB

In [61]:
X = df_air.drop('emissions', axis=1)
y = df_air['emissions'].values

scaler = StandardScaler()
X_standard = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=21)

print('Training data size:', X_train.shape)
print('Test data size:', X_test.shape)

Training data size: (201996, 5)
Test data size: (86570, 5)

In [62]:
decision_model = DecisionTreeRegressor()
dt_model = decision_model.fit(X_train,y_train)

y_pred = dt_model.predict(X_test)

print('RMSE of Decision Tree Regression:', np.sqrt(mean_squared_error(y_pred,y_test)))

#accuracy = accuracy_score(y_test, y_pred)
#print(accuracy)

RMSE of Decision Tree Regression: 737282058.2094653

In [63]:
import graphviz
from IPython.display import SVG
from sklearn.tree import export_graphviz

In [ ]:
dot_model = export_graphviz(decision_model)
graph = graphviz.Source(dot_model)
SVG(graph.pipe(format='svg'))

## Decision Tree Regression With Pivot Table
---

In [7]:
df = pd.read_csv('../data/F1_4_clean_data.csv', on_bad_lines='skip', sep=',',  na_filter=True)
df = df.rename(columns={'countryName': 'country', 'reportingYear':'year'}).drop(columns=['Unnamed: 0'], axis=1)
df.head()

,country,EPRTRSectorCode,eprtrSectorName,EPRTRAnnexIMainActivityCode,EPRTRAnnexIMainActivityLabel,FacilityInspireID,facilityName,Longitude,Latitude,City,pollutant,emissions,year
0,Austria,4,Chemical industry,4.0,Chemical installations for the production on a...,AT.CAED/9008390392737.FACILITY,Nufarm GmbH & CO KG,14.336056,48.290943,Linz,"DCE-1,2",3300.0,2007
1,Austria,9,Other activities,2.0,Installations for the surface treatment of sub...,AT.CAED/9008390396414.FACILITY,MAGNA STEYR Fahrzeugtechnik AG&Co KG,15.477778,47.019170,"Graz,07.Bez.:Liebenau",NMVOC,170000.0,2007
2,Austria,6,Paper and wood production and processing,3.0,Industrial plants for the production of paper ...,AT.CAED/9008390397176.FACILITY,Fritz EGGER GmbH & Co. OG,15.691833,48.259556,Unterradlberg,CO2,228000000.0,2007
3,Austria,6,Paper and wood production and processing,3.0,Industrial plants for the production of paper ...,AT.CAED/9008390397176.FACILITY,Fritz EGGER GmbH & Co. OG,15.691833,48.259556,Unterradlberg,NOx,311000.0,2007
4,Austria,3,Mineral industry,2.0,Installations for the production of cement cli...,AT.CAED/9008390397220.FACILITY,voestalpine Stahl GmbH,14.159778,47.807083,Klaus an der Pyhrnbahn,CO2,329000000.0,2007

In [8]:
data_pivoted = df.pivot_table(index=['country', 'year'], columns=['pollutant'], values='emissions', aggfunc=np.sum, fill_value=0)
data_pivoted.head(10)

pollutant     2-ethyl hexyl  Aldrin  Anthracene    As  Asbestos  Benzene  \
country year
Austria 2007            0.0       0         0.0   0.0       0.0   6050.0
        2008            0.0       0         0.0   0.0       0.0   7880.0
        2009            0.0       0         0.0   0.0       0.0   9070.0
        2010            0.0       0         0.0   0.0       0.0   3800.0
        2011            0.0       0         0.0   0.0       0.0   4240.0
        2012            0.0       0         0.0   0.0       0.0   4240.0
        2013            0.0       0         0.0   0.0       0.0   4010.0
        2014            0.0       0         0.0   0.0       0.0   3910.0
        2015            0.0       0         0.0  23.0       0.0   3820.0
        2016            0.0       0         0.0  20.1       0.0   3760.0

pollutant     Benzo(g,h,i)perylene  CFCs         CH4           CO  ...  TRI  \
country year                                                       ...
Austria 2007                   0.0   0.0  20953000.0  163261000.0  ...  0.0
        2008                   0.0   0.0  18584000.0  144793000.0  ...  0.0
        2009                   0.0   0.0  13526000.0  134999000.0  ...  0.0
        2010                   0.0   0.0  13735000.0  124908000.0  ...  0.0
        2011                   0.0   0.0  13277000.0  136169000.0  ...  0.0
        2012                   0.0   0.0  11387000.0  137505000.0  ...  0.0
        2013                   0.0   0.0  10477000.0  144702000.0  ...  0.0
        2014                   0.0   0.0   9247000.0  152779000.0  ...  0.0
        2015                   0.0   0.0   8848000.0  164138000.0  ...  0.0
        2016                   0.0   0.0   7096000.0  161331000.0  ...  0.0

pollutant          Teq  Tetrachloroethylene  Toluene  Trichloromethane  \
country year
Austria 2007  0.002320                    0      0.0                 0
        2008  0.001760                    0      0.0                 0
        2009  0.001370                    0      0.0                 0
        2010  0.001640                    0      0.0                 0
        2011  0.001390                    0      0.0                 0
        2012  0.001530                    0      0.0                 0
        2013  0.001620                    0      0.0                 0
        2014  0.001959                    0      0.0                 0
        2015  0.001250                    0      0.0                 0
        2016  0.001380                    0      0.0                 0

pollutant     Vinyl chloride  Xylenes       Zn  total C  total F
country year
Austria 2007               0        0  18820.0        0      0.0
        2008               0        0  12140.0        0      0.0
        2009               0        0   6664.0        0      0.0
        2010               0        0   9934.0        0      0.0
        2011               0        0   8490.0        0      0.0
        2012               0        0   8960.0        0      0.0
        2013               0        0  13835.0        0      0.0
        2014               0        0  12389.0        0      0.0
        2015               0        0  15517.0        0      0.0
        2016               0        0  12753.0        0      0.0

[10 rows x 62 columns]

In [11]:
from slugify import slugify

data_pivoted.columns = [slugify(c, separator='_') for c in data_pivoted.columns]
data_pivoted.head(80)

              2_ethyl_hexyl  aldrin  anthracene         as  asbestos  \
country year
Austria 2007           0.00       0         0.0    0.00000       0.0
        2008           0.00       0         0.0    0.00000       0.0
        2009           0.00       0         0.0    0.00000       0.0
        2010           0.00       0         0.0    0.00000       0.0
        2011           0.00       0         0.0    0.00000       0.0
...                     ...     ...         ...        ...       ...
Czechia 2020          16.73       0         0.0  816.14781       0.0
Denmark 2007           0.00       0         0.0  182.00000       0.0
        2008           0.00       0         0.0   74.00000       0.0
        2009           0.00       0         0.0   28.00000       0.0
        2010           0.00       0         0.0    0.00000       0.0

               benzene  benzo_g_h_i_perylene   cfcs           ch4  \
country year
Austria 2007  6050.000                   0.0    0.0  2.095300e+07
        2008  7880.000                   0.0    0.0  1.858400e+07
        2009  9070.000                   0.0    0.0  1.352600e+07
        2010  3800.000                   0.0    0.0  1.373500e+07
        2011  4240.000                   0.0    0.0  1.327700e+07
...                ...                   ...    ...           ...
Czechia 2020  9019.744                   0.0    0.0  1.578320e+06
Denmark 2007  3340.000                   0.0    0.0  1.922300e+07
        2008  2040.000                   0.0  100.0  1.576000e+07
        2009  1140.000                   0.0    0.0  1.765700e+07
        2010     0.000                   0.0    0.0  1.531300e+07

                        co  ...      tri       teq  tetrachloroethylene  \
country year                ...
Austria 2007  1.632610e+08  ...      0.0  0.002320                    0
        2008  1.447930e+08  ...      0.0  0.001760                    0
        2009  1.349990e+08  ...      0.0  0.001370                    0
        2010  1.249080e+08  ...      0.0  0.001640                    0
        2011  1.361690e+08  ...      0.0  0.001390                    0
...                    ...  ...      ...       ...                  ...
Czechia 2020  1.443809e+08  ...  32001.0  0.005333                 3117
Denmark 2007  8.766000e+06  ...      0.0  0.000000                    0
        2008  6.138000e+06  ...      0.0  0.028410                    0
        2009  4.587000e+06  ...      0.0  0.003600                    0
        2010  2.480000e+06  ...      0.0  0.000000                    0

              toluene  trichloromethane  vinyl_chloride  xylenes          zn  \
country year
Austria 2007      0.0                 0               0        0  18820.0000
        2008      0.0                 0               0        0  12140.0000
        2009      0.0                 0               0        0   6664.0000
        2010      0.0                 0               0        0   9934.0000
        2011      0.0                 0               0        0   8490.0000
...               ...               ...             ...      ...         ...
Czechia 2020      0.0                 0            2286        0   3957.8855
Denmark 2007      0.0                 0               0        0   3500.0000
        2008      0.0                 0               0        0   2700.0000
        2009      0.0                 0               0        0    746.0000
        2010      0.0                 0               0        0    746.0000

              total_c  total_f
country year
Austria 2007        0      0.0
        2008        0      0.0
        2009        0      0.0
        2010        0      0.0
        2011        0      0.0
...               ...      ...
Czechia 2020        0      0.0
Denmark 2007        0      0.0
        2008        0      0.0
        2009        0      0.0
        2010        0      0.0

[80 rows x 62 columns]

In [12]:
data_pivoted.query('aldrin > 0')

,,2_ethyl_hexyl,aldrin,anthracene,as,asbestos,benzene,benzo_g_h_i_perylene,cfcs,ch4,co,...,tri,teq,tetrachloroethylene,toluene,trichloromethane,vinyl_chloride,xylenes,zn,total_c,total_f
country,year,,,,,,,,,,,,,,,,,,,,,
Poland,2016,106.6,4010,0.0,3629.9,0.0,21910.0,0.0,8.0,550427000.0,279520000.0,...,0.0,0.216424,24270,0.0,1800,11000,0,61070.0,0,0.0

In [13]:
# remove the following comment to drop the multi-level index
data_pivoted.reset_index(inplace=True)

In [54]:
data_pivoted.columns

Index(['country', 'year', '2_ethyl_hexyl', 'aldrin', 'anthracene', 'as',
       'asbestos', 'benzene', 'benzo_g_h_i_perylene', 'cfcs', 'ch4', 'co',
       'co2', 'cd', 'chlordecone', 'cr', 'cu', 'dce_12', 'dcm',
       'ethyl_benzene', 'ethylene_oxide', 'fine_particulate_matter_pm2_5',
       'hcb', 'hcfcs', 'hch', 'hcn', 'hcl', 'hf', 'hfcs', 'halons', 'hg',
       'lindane', 'n2o', 'nh3', 'nmvoc', 'nox', 'naphthalene', 'ni',
       'nonylphenol_and_nonylphenol_ethoxylates', 'pahs', 'pbde', 'pcbs',
       'pcp', 'pfcs', 'pm10', 'pb', 'pentachlorobenzene', 'sf6', 'sox', 'tcb',
       'tce_111', 'tcm', 'tetrachloroethane_1122', 'toc', 'tri', 'teq',
       'tetrachloroethylene', 'toluene', 'trichloromethane', 'vinyl_chloride',
       'xylenes', 'zn', 'total_c', 'total_f'],
      dtype='object')

In [87]:
for element in list(data_pivoted.columns):
    if element not in ['country', 'year', '2_ethyl_hexyl', 'as']:
        rows = data_pivoted.query('{} > 0'.format(element)).shape[0]
        print(f'Rows for {element} : {rows}')
        #if rows < 3: data_pivoted.drop([element], axis=1)

Rows for aldrin : 1
Rows for anthracene : 60
Rows for asbestos : 7
Rows for benzene : 281
Rows for benzo_g_h_i_perylene : 14
Rows for cfcs : 163
Rows for ch4 : 387
Rows for co : 374
Rows for co2 : 392
Rows for cd : 300
Rows for chlordecone : 1
Rows for cr : 273
Rows for cu : 294
Rows for dce_12 : 143
Rows for dcm : 210
Rows for ethyl_benzene : 2
Rows for ethylene_oxide : 58
Rows for fine_particulate_matter_pm2_5 : 2
Rows for hcb : 29
Rows for hcfcs : 214
Rows for hch : 1
Rows for hcn : 179
Rows for hcl : 289
Rows for hf : 267
Rows for hfcs : 230
Rows for halons : 65
Rows for hg : 337
Rows for lindane : 3
Rows for n2o : 337
Rows for nh3 : 385
Rows for nmvoc : 353
Rows for nox : 394
Rows for naphthalene : 194
Rows for ni : 318
Rows for nonylphenol_and_nonylphenol_ethoxylates : 1
Rows for pahs : 225
Rows for pbde : 2
Rows for pcbs : 153
Rows for pcp : 10
Rows for pfcs : 172
Rows for pm10 : 376
Rows for pb : 281
Rows for pentachlorobenzene : 10
Rows for sf6 : 114
Rows for sox : 398
Rows for tcb : 38
Rows for tce_111 : 39
Rows for tcm : 84
Rows for tetrachloroethane_1122 : 52
Rows for toc : 10
Rows for tri : 97
Rows for teq : 292
Rows for tetrachloroethylene : 130
Rows for toluene : 8
Rows for trichloromethane : 130
Rows for vinyl_chloride : 148
Rows for xylenes : 2
Rows for zn : 334
Rows for total_c : 4
Rows for total_f : 3